body {
	;background-color: #000000; color: ghostwhite	
}
h1 {
		;text-align: center;	;font-size: 300% 
}

ul {
	font-size: 200%; background-color: #FF4500	;border-radius: 70px
}
.nav {
	display: flex;justify-content: center; list-style-type: none;
}
li {
	margin-right: 30px; margin-left: 30px
}
a {
	text-decoration: none; color: ghostwhite;
}
p {
	font-size: 200%
<<<<<<< HEAD
}
=======
}
>>>>>>> 8096b87b3eef382fbd9cd4d8fade01789aed3e31

}

